.weather__sun{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    padding-top: 10px;
}
.weather__sun-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.weather__sun-icon{
    width: 48px;
}
.weather__sun-time{
    font-size: 1.3rem;
}