.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}
.weather__units{
    margin-top: 30px;
    display: flex;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #fff;
}
.weather__unit{
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
}
.weather__unit--active{
    background-color: #fff;
    color: #000;
    cursor: default;
}
.weather__inner{
    
}
.weather__location{
    margin-top: 20px;
}